    /*selector {
            propriedade: valor
        }
        */
        h1 {
            color: rgb(119, 0, 255);
            text-decoration: underline; 
        }
        h3{
            color: rgb(255, 0, 0);
        }
      body{
          text-align: center;
      }
      